/* Общие стили для контейнера и главного блока */
.container {
  position: relative;
  width: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.content p {
  font-size: 1.5em;
}

/* Стили для раздела tab-tours */
.tab-tours {
  padding: 80px 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Темный фон для секции */
  color: white;
  text-align: center;
}

.tab-tours .tour-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-tours .tour-list h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.tab-tours .tour-list ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-tours .tour-list ul li {
  width: calc(33.33% - 40px);
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tab-tours .tour-list ul li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.tab-tours .tour-list ul li img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.tab-tours .tour-list ul li .tour-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.tab-tours .tour-list ul li:hover .tour-details {
  transform: translateY(0);
}

.tab-tours .tour-list ul li .tour-details a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.tab-tours .tour-list ul li .tour-details span {
  display: block;
  color: #ccc;
  font-size: 0.8em;
}

@media (max-width: 1200px) {
  .tab-tours .tour-list ul li {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .tab-tours .tour-list ul li {
    width: calc(100% - 40px);
  }
}
.highlight-tag {
  background-image: url(./assets/shyrdak.jpg);
  padding: 80px 20px;
  text-align: center;
}

.highlight-content {
  background-color: rgba(0, 0, 0, 0.7); /* Темный полупрозрачный фон */
  padding: 20px; /* Добавляем отступы для лучшего отображения текста */
  border-radius: 40px; /* Скругляем углы фона */
}

.highlight-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #989797; /* Белый цвет текста */
  text-shadow: 0 0 10px rgba(39, 39, 39, 0.457),
    0 0 20px rgba(87, 87, 87, 0.562);
  margin-bottom: 30px;
}

.highlight-content p {
  font-size: 1.5em;
  color: #989797; /* Белый цвет текста */
  text-shadow: 0 0 10px rgba(39, 39, 39, 0.457),
    0 0 20px rgba(87, 87, 87, 0.562);
  margin-bottom: 30px;
}

.highlight-content .highlight-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c24c28;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.highlight-content .highlight-link:hover {
  background-color: #ff3d00;
}
.highlight-tag {
  position: relative;
  background-image: url("./assets/shyrdak.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  overflow: hidden;
  background-attachment: fixed;
}

.highlight-content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.highlight-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffffff;
}

.highlight-content p {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 30px;
}

.highlight-content .highlight-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.highlight-content .highlight-link:hover {
  background-color: #ff3d00;
}
/* .section4 {
  height: 500px;
  background-color: #ccc;
} */
.bbb ::before,
::after {
  position: relative;
  box-sizing: border-box;
}

.body {
  background-color: rgb(128, 128, 128);
  color: white;
  display: flex;
  align-items: center;
  height: 600px;
  flex-wrap: wrap;
}

/* Card */
.card {
  border: 2px solid white;
  box-shadow: 0px 0px 5px white;
  padding: 2em;
  max-width: 350px;
  height: 500px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 16px;
  background: black;
  transition: 1.5s ease;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(0.5turn);
}

/* Content */
.card .content {
  transform-style: preserve-3d;

  transition: 1s ease;
}

.card .back,
.card .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card {
  text-shadow: 0 0 5px black;
}

.card .back {
  transform: rotateY(0.5turn);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card p,
.card h2 {
  transform: translateZ(75px);
}

.card p {
  font-size: 1em;
  line-height: 1.6em;
  color: white;
}

.card h2 {
  margin: 0 0 20px 0;
  font-size: 2.25em;
  color: white;
}

.card::before,
.card::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  background: url(https://lh6.googleusercontent.com/proxy/kwVvFTxxMkii448e7cSaTh9YURq3wJDQZmH0KS7VDTBKEcXpLif3ll3g7IfRhDrZMcGA_9XAZXuZvuLbyV-0S9asIrwtYtBK97MyfuSsR7A9YdllkrmRSHy4JbzqVkI8MW-pkwBR);
  transform: rotateY(0.5turn) translateZ(1px);
}

.card::before {
  transform: none;
  background: url(https://www.gumilev-center.ru/wp-content/uploads/2011/02/manas.jpg);
}

/* Global styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

/* Card1 */
.card1 {
  border: 2px solid white;
  box-shadow: 0px 0px 5px white;
  padding: 2em;
  max-width: 350px;
  height: 500px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 16px;
  background: black;
  transition: 1.5s ease;
  transform-style: preserve-3d;
}

.card1:hover {
  transform: rotateY(0.5turn);
}

/* Content */
.card1 .content1 {
  transform-style: preserve-3d;

  transition: 1s ease;
}

.card1 .back1,
.card1 .front1 {
  transform-style: preserve-3d;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
}

.card1 {
  text-shadow: 0 0 5px black;
}

.card1 .back1 {
  transform: rotateY(0.5turn);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card1 p,
.card1 h2 {
  transform: translateZ(75px);
}

.card1 p {
  font-size: 1em;
  line-height: 1.6em;
  color: white;
}

.card1 h2 {
  margin: 0 0 20px 0;
  font-size: 2.25em;
  color: white;
}

.card1::before,
.card1::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  background: url(https://weproject.media/upload/resize_cache/iblock/f0d/400_450_240cd750bba9870f18aada2478b24840a/f0dec3aceb407770a5a55207cc33abb7.jpg);
  transform: rotateY(0.5turn) translateZ(1px);
}

.card1::before {
  transform: none;
  background: url(https://the-steppe.com/wp-content/uploads/2023/03/1278a7be553b96af4d1f99874986eee3.png);
}
/* Card */
.card2 {
  border: 2px solid white;
  box-shadow: 0px 0px 5px white;
  padding: 2em;
  max-width: 350px;
  height: 500px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 16px;
  background: black;
  transition: 1.5s ease;
  transform-style: preserve-3d;
}

.card2:hover {
  transform: rotateY(0.5turn);
}

/* Content */
.card2 .content2 {
  transform-style: preserve-3d;
  transition: 1s ease;
}

.card2 .back2,
.card2 .front2 {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card2 {
  text-shadow: 0 0 5px black;
}

.card2 .back2 {
  transform: rotateY(0.5turn);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card2 p,
.card2 h2 {
  transform: translateZ(75px);
}

.card2 p {
  font-size: 1em;
  line-height: 1.6em;
  color: white;
}

.card2 h2 {
  margin: 0 0 20px 0;
  font-size: 2.25em;
  color: white;
}

.card2::before,
.card2::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: url(https://zira.uz/wp-content/uploads/2023/03/cf88a4ed-7bcd-44e5-8f74-d44179fecc61-1024x687.png);
  transform: rotateY(0.5turn) translateZ(1px);
}

.card2::before {
  transform: none;
  background: url(https://too.kg/wp-content/uploads/Natsionalnye-blyuda-KR.jpg);
}

/* Card */
.card3 {
  border: 2px solid white;
  box-shadow: 0px 0px 5px white;
  padding: 2em;
  max-width: 350px;
  height: 500px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 16px;
  background: black;
  transition: 1.5s ease;
  transform-style: preserve-3d;
}

.card3:hover {
  transform: rotateY(0.5turn);
}

/* Content */
.card3 .content3 {
  transform-style: preserve-3d;
  transition: 1s ease;
}

.card3 .back3,
.card3 .front3 {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card3 {
  text-shadow: 0 0 5px black;
}

.card3 .back3 {
  transform: rotateY(0.5turn);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card3 p,
.card3 h2 {
  transform: translateZ(75px);
}

.card3 p {
  font-size: 1em;
  line-height: 1.6em;
  color: white;
}

.card3 h2 {
  margin: 0 0 20px 0;
  font-size: 2.25em;
  color: white;
}

.card3::before,
.card3::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: url(https://i.pinimg.com/736x/4d/44/7b/4d447be9a2fcb1d6b4375a91124d4fa0.jpg);
  transform: rotateY(0.5turn) translateZ(1px);
}

.card3::before {
  transform: none;
  background: url(https://i.pinimg.com/736x/6d/b1/29/6db1291866b5f0c2477aecd31f276657.jpg);
}
